.Header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  border-bottom: 5px solid #ffffff;
}

.Header #fixed-header {
  display: none;
}

@media (min-width: 1366px) {
  .Header #fixed-header {
    display: block;
    position: absolute;
    top: 3px;
    left: 15px;
  }

  .Header #fixed-header #site-logo {
    font-size: 0;
    line-height: 39.5px;
    float: left;
  }

  .Header #fixed-header #site-logo a img {
    height: 25px;
  }
}

.Header #fixed-header #site-title {
  line-height: 54px;
  float: left;
  margin-left: 15px;
}

.Header #fixed-header #site-title a {
  font-size: 1.27rem;
  color: #ffffff;
}

.Header #fixed-header #site-title a span {
  font-size: 1.13rem;
}

.f-dropdown {
  z-index: 9999 !important;
}

#mmenu .mm-navbar.mm-navbar-top-1 {
  height: 65px;
}

#mmenu .mm-navbar.mm-navbar-top-2 {
  top: 65px;
}

#mmenu .mm-navbar + .mm-panels {
  top: 115px;
}

#mmenu .mm-navbar .mm-search {
  margin-top: 35px;
  height: auto;
}

main.l-section {
  padding-top: 60px;
}

@media (min-width: 1366px) {
  .Header {
    margin-left: -300px;
    padding-left: 300px;
  }

  #mmenu .mm-navbar.mm-navbar-top-1 {
    height: 130px;
  }

  #mmenu .mm-navbar.mm-navbar-top-2 {
    top: 130px;
  }

  #mmenu .mm-navbar + .mm-panels {
    top: 180px;
  }

  #mmenu .mm-navbar .mm-search {
    margin-top: 100px;
  }
}